# Ignorar arquivos objeto compilados
*.o
*.obj

# Ignorar o executável final (assumindo que se chame mini-shell ou main)
mini-shell
main
*.exe
*.out

# Ignorar arquivos de sistema e de IDE
.DS_Store
.vscode/
.idea/